body{
    background-color: whitesmoke;
}
.xx{
    border-top: 5px solid deepskyblue;
    border-right: 5px solid deepskyblue;
    border-bottom: 5px solid deepskyblue;
    border-left: 5px solid deepskyblue;
    color:deepskyblue ;
}
.rr{
    font-size: 100px;
}
.ww{
    color: deepskyblue;
}
.text-block{
    width: 1200px;
    background-color: white;
    margin: 200px auto;
}
.text-block-item{
    background-color: white;
    width: 30%;
    /*border: 1px solid black;*/
    padding: 16px 24px ;
    box-sizing: border-box;
    text-align: center;
    float: left ;  /* float: left (right)*/
    margin:0 20px;
}
.clear{
    clear: both;
}