body{
    background-color: white;
}
.text-block{
    width: 1200px;
    background-color: deepskyblue;
    margin: 200px auto;
    float: left;

}
.text-block-item{
    width: 13%;
    border: 1px solid deepskyblue;
    padding: 16px 24px ;
    box-sizing: border-box;
    text-align: center;
    float: left ;  /* float: left (right)*/
    margin:0 15px;
}
.text-block2{
    width: 1200px;
    background-color: deepskyblue;
    margin: 200px auto;
    float: left;
}
.text-block-item2{
    width: 13%;
    border: 1px solid deepskyblue;
    padding: 15px 24px ;
    box-sizing: border-box;
    text-align: center;
    float: left ;  /* float: left (right)*/
    margin:0 15px;
}
.clear{
    clear: both;
}
